extends base_2

block header 
  header.nav.navbar-expand-md.navbar-light
    button.navbar-toggler.ms-auto.my-2.me-2.bg-light(type='button' data-toggle='collapse' data-target='#dash_nav')
      span.navbar-toggler-icon
    .navbar-collapse#dash_nav.collapse
      .container-fluid
        .row
          // sidebar
          .col-xl-2.col-md-3.sidebar.fixed-to-top.box-shadow
            a.navbar-brand.text-light.text-center.d-block.mx-auto.py-3.mb-4.bottom-border(href='/overview')
              | Competitor&apos;s
              br
              | Analysis
            .text-center
              img.rounded-circle(src=`${(currentUser.photo == 'defaultUser.jpg') ? `/images/users/defaultUser.jpg` : `${currentUser.photo}`}` height='80px' width='80px' alt='User Image')
              p.text-light.pt-2= `${(currentUser.userName) ? currentUser.userName : currentUser.fullName}`
            .text-center.bottom-border
              .pb-3
                button.btn.btn-sm.btn-outline-light(data-toggle='modal' data-target='#logout_modal')
                  i.text-danger.fal.fa-sign-out-alt.pe-1
                  | Logout
            ul.navbar-nav.flex-column.mt-3
              li.nav-item.text-center
                a.nav-link.sidebar-link.text-light.p-3.mb-1(href='/adminOverview') Overview
              li.nav-item.text-center
                a.nav-link.sidebar-link.text-light.p-3.mb-1(href='/adminFeedback') Feedback
              li.nav-item.text-center
                a.nav-link.sidebar-link.text-light.p-3.mb-1(href='/adminAdd') Add Admin
          // end of sidebar
    // top-nav
    nav.col-12.col-xl-10.col-md-9.ms-auto.fixed-to-top.top-navbar.border-bottom.dark-bg.py-3.box-shadow
      .row.align-items-center
        .col.text-center
          h4.text-light.text-uppercase.mb-0 Admin Profile
    // end of top-nav


block content 
  section.overview-pad.container-fluid
    .col-xl-10.col-md-9.ms-auto
      .mx-1.mx-sm-5.mb-5.mt-3
        .card.card-bg.p-sm-5
          .card-body.p-3.p-md-4
            form.form.form--profile.col
              // first row
              .row.mx-0.mx-md-2.mb-5.justify-content-around.card-no-bg.profile-row
                h4.text-uppercase.mt-3.mb-2 Edit Information
                .row.py-5
                  .col-xl-5.text-center
                    img.rounded-circle(src=`${(currentUser.photo == 'defaultUser.jpg') ? `/images/users/defaultUser.jpg` : `${currentUser.photo}`}` height='230px' width='230px' alt='User Image')
                  .col-xl-7.align-self-center.pt-3.pt-md-0(style='padding-right: 22px')
                    label.mb-2(for='photo') Upload an Image
                    input#photo.form-control.mb-2(type='file', name='photo', accept='image/*')
                    small#fileHelp.form-text.text-muted
                      | Any image format is acceptable.
                      //- br
                      //- | Max file size 1024kb.
              // end of first row
              // second row
              .row.mx-2.mb-5.justify-content-around.card-no-bg.profile-row
                h4.text-uppercase.mt-3.mb-2 Account Information
                .row.py-4.py-md-5.px-0
                  .col-4.offset-md-1.ps-3.ps-md-2.pe-0.pe-md-2
                    p.mb-4.pt-2.pb-2 Full Name:
                    p.mb-4.pt-1.pb-2 Username:
                    p.mb-4.pt-2.pb-2 Email:
                  .col-7.align-self-around.pe-0.pe-md-5.ps-3.ps-md-2
                    input#fullName.form-control.mb-4(type='text' value=`${currentUser.fullName}`)
                    input#userName.form-control.mb-4(type='text' value=`${(currentUser.userName) ? currentUser.userName : ''}`)
                    input#email.form-control.mb-4.text-muted(type='text' value=`${currentUser.email}` readonly='')
              // end of second row
              // third row
              .row.mx-2.justify-content-around.card-no-bg.profile-row
                h4.text-uppercase.mt-3.mb-2 Change Password
                .row.pt-4.pt-md-5.pb-4.px-0
                  .col-4.offset-md-1.ps-3.ps-md-2.pe-0.pe-md-2
                    p.mb-4.pt-2.pb-2 Current Password:
                    p.mb-4.pt-1.pb-2 New Password:
                    p.pt-2.pb-2 Confirm Password:
                  .col-7.align-self-around.pe-0.pe-md-5.ps-3.ps-md-2
                    input#currentpassword.form-control.mt-lg-0.mt-3.mb-lg-4.mb-5(type='password' placeholder='***********')
                    input#newpassword.form-control.mb-lg-4.mb-5(type='password' placeholder='***********')
                    input#confirmpassword.form-control.mb-4.text-muted(type='password' placeholder='***********')
                    button#btn--save.btn.btn-outline-secondary.mt-3.card-common Save Profile
              // end of third row
          // end of card body
          
        // end of card

      // footer
      include _footer_2
      // end of footer
    // end of col-xl-10 col-md-9 ms-auto
