extends base_2 

block content 
  section.overview-pad.container-fluid
    .card
      .row
        .col-xl-10.col-md-9.ms-auto.ps-0
          // tabs
          .card-header
            ul.nav.nav-tabs.card-header-tabs
              li.nav-item
                a.nav-link.text-dark.active(href='#')
                  | #{domain.name}
                  i.fal.fa-times.ms-3.cross(data-toggle='modal' data-target='#remove_site_modal')
              li.nav-item.vertical-border
                a.nav-link.text-dark(href='#')
                  | CompetitorSite 1
                  i.fal.fa-times.ms-3.cross(data-toggle='modal' data-target='#remove_site_modal')
              li.nav-item.vertical-border
                a.nav-link.text-dark(href='#')
                  | CompetitorSite 2
                  i.fal.fa-times.ms-3.cross(data-toggle='modal' data-target='#remove_site_modal')
              li.nav-item.vertical-border
                a.nav-link.text-dark(href='#')
                  | CompetitorSite 3
                  i.fal.fa-times.ms-3.cross(data-toggle='modal' data-target='#remove_site_modal')
              li.nav-item.vertical-border
                a.nav-link.text-dark(href='#')
                  | CompetitorSite 4
                  i.fal.fa-times.ms-3.cross(data-toggle='modal' data-target='#remove_site_modal')
              li.p-2.ms-2
                i.fal.fa-plus.fa-lg.cross(data-toggle='modal' data-target='#add_modal')
          .card-body.card-bg.pb-0
            // first row of card body
            .row.my-3.justify-content-around
              .col-xl-2.col-sm-4.col-6.p-2
                .card.card-common
                  .card-body
                    .text-center
                      h2 #{domain.overallRank}
                  .card-footer.text-center.text-secondary
                    span Overall Alexa Rank
              .col-xl-2.col-sm-4.col-6.p-2
                .card.card-common
                  .card-body
                    .text-center
                      h2 #{domain.bounceRate}
                  .card-footer.text-center.text-secondary
                    span Bounce Rate
              .col-xl-2.col-sm-4.col-6.p-2
                .card.card-common
                  .card-body
                    .text-center
                      h2 #{domain.searchTrafficPercent}
                  .card-footer.text-center.text-secondary
                    span Search Traffic
              .col-xl-2.col-sm-4.col-6.p-2
                .card.card-common
                  .card-body
                    .text-center
                      h2 #{domain.avgTimeOnSite}
                  .card-footer.text-center.text-secondary
                    span Avg Visit Duration
              .col-xl-2.col-sm-4.col-6.p-2
                .card.card-common
                  .card-body
                    .text-center
                      h2 #{domain.avgPageView}
                  .card-footer.text-center.text-secondary
                    span Avg Page View
            // end of first row of card body
            // second row of card body
            .row.py-5.justify-content-around.px-2.px-sm-0
              .col-lg-5.col-sm-9.card-common.align-self-center.mb-lg-0.mb-4.card-no-bg(style='height: auto;')
                .row.py-4.text-center.border-bottom
                  h4.m-0 Organic Search
                .row.justify-content-around.border-bottom
                  .col.text-center.py-4.card-common-sm.vertical-border
                    p Search Keywords
                    h4
                      strong #{domain.noOrganicSearchKeyword}
                  .col.text-center.py-4.card-common-sm
                    p Est Monthly Seo Clicks
                    h4
                      strong #{domain.estMonthlySeoClick}
                .row.py-4.text-center
                  h5.m-0
                    | Est Monthly Seo Clicks Value: 
                    strong= `$ ${domain.estMonthlySeoClickValue}`
              .col-lg-6.col-sm-9.p-0
                table.table.table-bordered.text-center.m-0.card-common.card-no-bg
                  thead
                    tr
                      th.py-3
                        h4.m-0 Similar Sites by Visitors
                  tbody
                    tr
                      td.p-0
                        table.table.table-striped.table-hover.bg-light.text-center.m-0
                          thead
                            tr.text-muted
                              th.col-6.ps-5.align-lt #
                              th.col-3 Overlap Score
                              th.col-3 Rank
                          tbody
                            each key, i in domain.similarSites.siteName 
                              tr
                                td.ps-5.align-lt= domain.similarSites.siteName[i]
                                td= domain.similarSites.overlapScore[i]
                                td= domain.similarSites.rank[i]
            // end of second row of card body
            // third row of card body
            .row.py-4.justify-content-around.px-2.px-sm-0
              .col-lg-5.col-sm-9.align-self-center.mb-lg-0.mb-4.p-0.card-no-bg
                table.table.table-bordered.text-center.m-0.card-common
                  thead
                    tr
                      th.py-3
                        h5.m-0 Visitors by Country
                  tbody
                    tr
                      td.p-0
                        table.table.table-striped.table-hover.bg-light.text-center.m-0
                          thead
                            tr.text-muted
                              th
                              th.align-lt
                              th Site&apos;s Rank
                              th Visitor&apos;s Percent
                          tbody
                            each key, i in domain.countries.countryCode 
                              tr
                                td
                                  small= domain.countries.countryCode[i]
                                td.align-lt= domain.countries.countryName[i]
                                td= domain.countries.visitorPercent[i]
                                td= domain.countries.siteCountryRank[i]
              .col-lg-6.col-sm-10.p-0
                .card-common.card-no-bg
                  //- CHART GRAPH
                  //- include _chartJS
                  canvas#organicVsPaid(style='height: 160px; width: 250px;')
            // end of third row of card body
            // fourth row of card body
            .row.py-4.justify-content-center.px-2.px-sm-0
              .col-11
                h3.text-muted.pt-4.m-0 Keywords

                each val, i in domain.keywords.allTypes
                  .pt-4.table-responsive
                    table.table.table-hover.text-center.bg-light.card-common
                      thead
                        tr.text-muted
                          th.col-4.ps-5.align-lt= domain.keywords.allTypes[i]
                          th Search Volume
                          th SEO Clicks
                          th Rank
                          th Clicks
                          th
                            i.far.fa-times.fa-lg.cross(data-toggle='modal' data-target='#remove_table_modal')
                      tbody
                        each key, j in domain.keywords.allSeoClicks[i]
                          tr
                            td.ps-5.align-lt= domain.keywords.allKeywords[i][j]
                            td= domain.keywords.allSeoClicks[i][j]
                            td= domain.keywords.allSearchVolumes[i][j]
                            td= domain.keywords.allRanks[i][j]
                            td= domain.keywords.allMonthlyClicks[i][j]
                            td.text-muted
                              i.fal.fa-times.cross(onclick='')
                          -if (j > domain.keywords.allSeoClicks[i].length-2) { break };

                //-   table.table.table-hover.text-center.bg-light.card-common
                //-     thead
                //-       tr.text-muted
                //-         th.col-4.ps-5.align-lt Top Keywords
                //-         th Search Volume
                //-         th SEO Clicks
                //-         th Rank
                //-         th Clicks
                //-         th
                //-           i.far.fa-times.fa-lg.cross(data-toggle='modal' data-target='#remove_table_modal')
                //-     tbody
                //-       tr
                //-         td.ps-5.align-lt abc
                //-         td 123
                //-         td 456
                //-         td 789
                //-         td 012
                //-         td.text-muted
                //-           i.fal.fa-times.cross(onclick='')
                //-       tr
                //-         td.ps-5.align-lt abc
                //-         td 123
                //-         td 456
                //-         td 789
                //-         td 012
                //-         td.text-muted
                //-           i.fal.fa-times.cross(onclick='')
                //-       tr
                //-         td.ps-5.align-lt abc
                //-         td 123
                //-         td 456
                //-         td 789
                //-         td 012
                //-         td.text-muted
                //-           i.fal.fa-times.cross(onclick='')
                //-       tr
                //-         td.ps-5.align-lt abc
                //-         td 123
                //-         td 456
                //-         td 789
                //-         td 012
                //-         td.text-muted
                //-           i.fal.fa-times.cross(onclick='')
                //- .pt-4.table-responsive
                //-   table.table.table-hover.text-center.bg-light.card-common
                //-     thead
                //-       tr.text-muted
                //-         th.col-4.ps-5.align-lt New Keywords
                //-         th Search Volume
                //-         th SEO Clicks
                //-         th Rank
                //-         th Clicks
                //-         th
                //-           i.far.fa-times.fa-lg.cross(data-toggle='modal' data-target='#remove_table_modal')
                //-     tbody
                //-       tr
                //-         td.ps-5.align-lt abc
                //-         td 123
                //-         td 456
                //-         td 789
                //-         td 012
                //-         td.text-muted
                //-           i.fal.fa-times.cross(onclick='')
                //-       tr
                //-         td.ps-5.align-lt abc
                //-         td 123
                //-         td 456
                //-         td 789
                //-         td 012
                //-         td.text-muted
                //-           i.fal.fa-times.cross(onclick='')
                //-       tr
                //-         td.ps-5.align-lt abc
                //-         td 123
                //-         td 456
                //-         td 789
                //-         td 012
                //-         td.text-muted
                //-           i.fal.fa-times.cross(onclick='')
                //-       tr
                //-         td.ps-5.align-lt abc
                //-         td 123
                //-         td 456
                //-         td 789
                //-         td 012
                //-         td.text-muted
                //-           i.fal.fa-times.cross(onclick='')
                //- .pt-4.table-responsive
                //-   table.table.table-hover.text-center.bg-light.card-common
                //-     thead
                //-       tr.text-muted
                //-         th.col-4.ps-5.align-lt Clicks Gaining Keywords
                //-         th Search Volume
                //-         th SEO Clicks
                //-         th Rank
                //-         th Clicks
                //-         th
                //-           i.far.fa-times.fa-lg.cross(data-toggle='modal' data-target='#remove_table_modal')
                //-     tbody
                //-       tr
                //-         td.ps-5.align-lt abc
                //-         td 123
                //-         td 456
                //-         td 789
                //-         td 012
                //-         td.text-muted
                //-           i.fal.fa-times.cross(onclick='')
                //-       tr
                //-         td.ps-5.align-lt abc
                //-         td 123
                //-         td 456
                //-         td 789
                //-         td 012
                //-         td.text-muted
                //-           i.fal.fa-times.cross(onclick='')
                //-       tr
                //-         td.ps-5.align-lt abc
                //-         td 123
                //-         td 456
                //-         td 789
                //-         td 012
                //-         td.text-muted
                //-           i.fal.fa-times.cross(onclick='')
                //-       tr
                //-         td.ps-5.align-lt abc
                //-         td 123
                //-         td 456
                //-         td 789
                //-         td 012
                //-         td.text-muted
                //-           i.fal.fa-times.cross(onclick='')
                //- .pt-4.table-responsive
                //-   table.table.table-hover.text-center.bg-light.card-common
                //-     thead
                //-       tr.text-muted
                //-         th.col-4.ps-5.align-lt Clicks Losing Keywords
                //-         th Search Volume
                //-         th SEO Clicks
                //-         th Rank
                //-         th Clicks
                //-         th
                //-           i.far.fa-times.fa-lg.cross(data-toggle='modal' data-target='#remove_table_modal')
                //-     tbody
                //-       tr
                //-         td.ps-5.align-lt abc
                //-         td 123
                //-         td 456
                //-         td 789
                //-         td 012
                //-         td.text-muted
                //-           i.fal.fa-times.cross(onclick='')
                //-       tr
                //-         td.ps-5.align-lt abc
                //-         td 123
                //-         td 456
                //-         td 789
                //-         td 012
                //-         td.text-muted
                //-           i.fal.fa-times.cross(onclick='')
                //-       tr
                //-         td.ps-5.align-lt abc
                //-         td 123
                //-         td 456
                //-         td 789
                //-         td 012
                //-         td.text-muted
                //-           i.fal.fa-times.cross(onclick='')
                //-       tr
                //-         td.ps-5.align-lt abc
                //-         td 123
                //-         td 456
                //-         td 789
                //-         td 012
                //-         td.text-muted
                //-           i.fal.fa-times.cross(onclick='')
                //- .pt-4.table-responsive
                //-   table.table.table-hover.text-center.bg-light.card-common
                //-     thead
                //-       tr.text-muted
                //-         th.col-4.ps-5.align-lt First Page Keywords
                //-         th Search Volume
                //-         th SEO Clicks
                //-         th Rank
                //-         th Clicks
                //-         th
                //-           i.far.fa-times.fa-lg.cross(data-toggle='modal' data-target='#remove_table_modal')
                //-     tbody
                //-       tr
                //-         td.ps-5.align-lt abc
                //-         td 123
                //-         td 456
                //-         td 789
                //-         td 012
                //-         td.text-muted
                //-           i.fal.fa-times.cross(onclick='')
                //-       tr
                //-         td.ps-5.align-lt abc
                //-         td 123
                //-         td 456
                //-         td 789
                //-         td 012
                //-         td.text-muted
                //-           i.fal.fa-times.cross(onclick='')
                //-       tr
                //-         td.ps-5.align-lt abc
                //-         td 123
                //-         td 456
                //-         td 789
                //-         td 012
                //-         td.text-muted
                //-           i.fal.fa-times.cross(onclick='')
                //-       tr
                //-         td.ps-5.align-lt abc
                //-         td 123
                //-         td 456
                //-         td 789
                //-         td 012
                //-         td.text-muted
                //-           i.fal.fa-times.cross(onclick='')
                //- .pt-4.table-responsive
                  table.table.table-hover.text-center.bg-light.card-common
                    thead
                      tr.text-muted
                        th.col-4.ps-5.align-lt Other Related Keywords
                        th Search Volume
                        th SEO Clicks
                        th Rank
                        th Clicks
                        th
                          i.far.fa-times.fa-lg.cross(data-toggle='modal' data-target='#remove_table_modal')
                    tbody
                      tr
                        td.ps-5.align-lt abc
                        td 123
                        td 456
                        td 789
                        td 012
                        td.text-muted
                          i.fal.fa-times.cross(onclick='')
                      tr
                        td.ps-5.align-lt abc
                        td 123
                        td 456
                        td 789
                        td 012
                        td.text-muted
                          i.fal.fa-times.cross(onclick='')
                      tr
                        td.ps-5.align-lt abc
                        td 123
                        td 456
                        td 789
                        td 012
                        td.text-muted
                          i.fal.fa-times.cross(onclick='')
                      tr
                        td.ps-5.align-lt abc
                        td 123
                        td 456
                        td 789
                        td 012
                        td.text-muted
                          i.fal.fa-times.cross(onclick='')
            // end of fourth row of card body
            // fifth row of card body
            .row.py-4.justify-content-center.px-2.px-sm-0
              .col-11
                h3.text-muted.pt-4.m-0 Top Pages
                .pt-4.table-responsive
                  table.table.table-hover.text-center.bg-light.card-common
                    thead
                      tr.text-muted
                        th.col-4.ps-5.align-lt Page
                        th.col-3 Keyword
                        th Est Monthly SEO Clicks
                        th Keyword Count
                        th
                          i.far.fa-times.fa-lg.cross(data-toggle='modal' data-target='#remove_table_modal')
                    tbody
                      each key, i in domain.topPages.pageTitle 
                        tr
                          td.ps-5.align-lt
                            a.text-dark(href=`${domain.topPages.pageUrl[i]}`)= domain.topPages.pageTitle[i]
                          td= domain.topPages.topKeyword[i]
                          td= domain.topPages.estMonthlySeoClicks[i]
                          td= domain.topPages.keywordCount[i]
                          td.text-muted
                            i.fal.fa-times.cross(onclick='')

            // end of fifth row of card body
            // sixth row of card body
            .row.pt-4.pb-5.justify-content-center.px-2.px-sm-0
              .col-11
                h3.text-muted.pt-4.m-0 Backlinks (Imbound Links)
                .pt-4.table-responsive
                  table.table.table-hover.text-center.bg-light.card-common
                    thead
                      tr.text-muted
                        th.col-4.ps-5.align-lt Link
                        th
                          | Domain Monthly
                          br
                          | Organic Clicks
                        th
                          | Page Monthly
                          br
                          | Organic Clicks
                        th Domain Strength
                        th Outbound Links
                        th
                          i.far.fa-times.fa-lg.cross(data-toggle='modal' data-target='#remove_table_modal')
                    tbody
                      each key, i in domain.backlinks.backlinkDomain 
                        tr
                          td.ps-5.align-lt
                            a.text-dark(href=`${domain.backlinks.backlinkUrl[i]}`)= domain.backlinks.backlinkDomain[i]
                          td= domain.backlinks.domainMonthlyOrganicClicks[i]
                          td= domain.backlinks.pageMonthlyOrganicClicks[i]
                          td= domain.backlinks.domainStrength[i]
                          td= domain.backlinks.outboundLinks[i]
                          td.text-muted
                            i.fal.fa-times.cross(onclick='')
            // end of sixth row of card body
          // end of card-body
          // footer
          footer.row.py-0.px-sm-0.px-2
            .row.border-top.align-items-center.py-2.card-no-bg
              .col-md-5.col-4.offset-1
                p.text-monospace.m-0
                  i.far.fa-copyright
                  span#year
                  |  By Pratik Karki
              .col-xl-3.col-lg-4.col-md-5.col-sm-5.col-6.ms-auto
                blockquote.blockquote.m-0
                  p.text-secondary.ps-4
                    small Powered By:
                  .blockquote-footer
                    cite(title='Source Title')
                      small Spyfu, Inc.
                  .blockquote-footer
                    cite(title='Source Title')
                      small Alexa Internet, Inc.
          // end of footer
        // end of col-xl-10 col-md-9 ms-auto
      // end of row
