extends base_2

block header 
  header.nav.navbar-expand-md.navbar-light
    button.navbar-toggler.ms-auto.mb-2.bg-light(type='button' data-toggle='collapse' data-target='#dash_nav')
      span.navbar-toggler-icon
    .navbar-collapse#dash_nav.collapse
      .container-fluid
        .row
          // sidebar
          .col-xl-2.col-md-3.sidebar.fixed-to-top
            a.navbar-brand.text-light.text-center.d-block.mx-auto.py-3.mb-4.bottom-border(href='/overview')
              | Competitor&apos;s
              br
              | Analysis
            .text-center
              img.rounded-circle(src=`${(user.photo) ? `/images/users/${user.photo}`: `/images/users/defaultUser.jpg`}` height='80px' width='80px' alt='User Image')
              p.text-light.pt-2= `${(user.userName) ? user.userName : user.fullName}`
            .text-center.bottom-border
              .pb-3
                button.btn.btn-sm.btn-outline-light(data-toggle='modal' data-target='#logout_modal')
                  i.text-danger.fal.fa-sign-out-alt.pe-1
                  | Logout
            ul.navbar-nav.flex-column.mt-3
              li.nav-item.text-center
                a.nav-link.sidebar-link.text-light.p-3.mb-1(href='/overview') Overview
              li.nav-item.text-center
                a.nav-link.sidebar-link.text-light.p-3.mb-1(href='/metrics') Compare Metrics
              li.nav-item.text-center
                a.nav-link.sidebar-link.text-light.p-3.mb-1(href='/keywords') Compare Keyword
              li.nav-item.text-center
                a.nav-link.sidebar-link.text-light.p-3.mb-1(href='/feedback') Feedback
          // end of sidebar
          // top-nav
          nav.col-xl-10.col-md-9.ms-auto.bg-white.fixed-to-top.top-navbar.border-bottom.dark-bg.py-3
            .row.align-items-center
              .col.text-center
                h4.text-light.text-uppercase.mb-0 Profile
          // end of top-nav



block content 
  section.overview-pad.container-fluid
    .col-xl-10.col-md-9.ms-auto
      .m-5
        .card.card-bg.p-5
          .card-body.p-4
            form.form.form--profile.col
              // first row
              .row.mx-2.mb-5.justify-content-around.card-no-bg.profile-row
                h4.text-uppercase.mt-3.mb-2 Edit Information
                .row.my-5.p-0
                  .col-xl-5.text-center
                    img.rounded-circle(src=`${(user.photo) ? `/images/users/${user.photo}`: `/images/users/defaultUser.jpg`}` height='230px' width='230px' alt='User Image')
                  .col-xl-7.align-self-center(style='padding-right: 22px')
                    label.mb-2(for='photo') Upload an Image
                    input#photo.form-control.mb-2(type='file', name='photo', accept='image/*')
                    small#fileHelp.form-text.text-muted
                      | Any image format is acceptable.
                      //- br
                      //- | Max file size 1024kb.
              // end of first row
              // second row
              .row.mx-2.mb-5.justify-content-around.card-no-bg.profile-row
                h4.text-uppercase.mt-3.mb-2 Account Information
                .row.my-5.p-0
                  .col-4.offset-1
                    p.mb-4.pt-2.pb-2 Full Name:
                    p.mb-4.pt-1.pb-2 Username:
                    p.mb-4.pt-2.pb-2 Email:
                    p.pt-2 Domain:
                  .col-7.align-self-around.pe-5
                    input#fullName.form-control.mb-4(type='text' value=`${user.fullName}`)
                    input#userName.form-control.mb-4(type='text' value=`${(user.userName) ? user.userName : ''}`)
                    input#email.form-control.mb-4.text-muted(type='text' value=`${user.email}` readonly='')
                    input#domain.form-control.mb-4.text-muted(type='text' value=`${domain.name}` readonly='')
              // end of second row
              // third row
              .row.mx-2.justify-content-around.card-no-bg.profile-row
                h4.text-uppercase.mt-3.mb-2 Change Password
                .row.mt-5.mb-4.p-0
                  .col-4.offset-1
                    p.mb-4.pt-2.pb-2 Current Password:
                    p.mb-4.pt-1.pb-2 New Password:
                    p.pt-2.pb-2 Confirm Password:
                  .col-7.align-self-around.pe-5
                    input#currentpassword.form-control.mb-4(type='password' placeholder='***********')
                    input#newpassword.form-control.mb-4(type='password' placeholder='***********')
                    input#confirmpassword.form-control.mb-4.text-muted(type='password' placeholder='***********')
                    button#btn--save.btn.btn-outline-secondary.mt-3.card-common Save Profile
              // end of third row
          // end of card body
          
        // end of card

      // footer
      include _footer_2
      // end of footer
    // end of col-xl-10 col-md-9 ms-auto
